In [0]:
import pandas as pd

In [0]:
july_df = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2017-01.csv')

In [0]:
aug_df = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2018-08.csv')

In [0]:
df = pd.concat([july_df,aug_df],ignore_index=True)

In [0]:
df.shape

(15698882, 17)

In [0]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-07-01 00:28:09,2018-07-01 00:28:51,1,5.3,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80
1,1,2018-07-01 00:29:27,2018-07-01 00:30:17,1,5.3,1,N,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80
2,1,2018-07-01 00:04:19,2018-07-01 00:08:29,2,0.7,1,N,211,144,1,5.0,0.5,0.5,1.25,0.0,0.3,7.55
3,1,2018-07-01 00:14:26,2018-07-01 00:36:35,1,4.8,1,N,144,142,1,18.0,0.5,0.5,1.00,0.0,0.3,20.30
4,1,2018-07-01 00:41:56,2018-07-01 00:50:54,1,1.8,1,N,142,141,2,8.5,0.5,0.5,0.00,0.0,0.3,9.80

In [0]:
subset_df_pu = df[['tpep_pickup_datetime','PULocationID','payment_type']]
subset_df_pu['tpep_pickup_datetime'] = pd.to_datetime(subset_df_pu['tpep_pickup_datetime'])
subset_df_pu = subset_df_pu[subset_df_pu['tpep_pickup_datetime'].dt.year == 2018]
subset_df_pu = subset_df_pu[(subset_df_pu['tpep_pickup_datetime'].dt.month == 7) | (subset_df_pu['tpep_pickup_datetime'].dt.month == 8)]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
subset_df_pu['pu_date'] = subset_df_pu['tpep_pickup_datetime'].dt.date

In [0]:
subset_df_pu.head()

  tpep_pickup_datetime  PULocationID  payment_type        date
0  2018-07-01 00:28:09           145             2  2018-07-01
1  2018-07-01 00:29:27           145             2  2018-07-01
2  2018-07-01 00:04:19           211             1  2018-07-01
3  2018-07-01 00:14:26           144             1  2018-07-01
4  2018-07-01 00:41:56           142             2  2018-07-01

In [0]:
daily_trips = subset_df_pu[['pu_date','PULocationID','payment_type']].groupby(['pu_date','PULocationID']).count()

In [0]:
cluster_base_daily_trips_pu = pd.pivot_table(daily_trips,index='PULocationID',values='payment_type',columns='pu_date')

In [0]:
cluster_base_daily_trips_pu.fillna(0,inplace=True)

In [0]:
cluster_base_daily_trips_pu.head()

pu_date,2018-07-01,2018-07-02,2018-07-03,2018-07-04,2018-07-05,2018-07-06,2018-07-07,2018-07-08,2018-07-09,2018-07-10,...,2018-08-22,2018-08-23,2018-08-24,2018-08-25,2018-08-26,2018-08-27,2018-08-28,2018-08-29,2018-08-30,2018-08-31
PULocationID,,,,,,,,,,,,,,,,,,,,,
1,26.0,24.0,19.0,15.0,13.0,13.0,12.0,14.0,11.0,14.0,...,18.0,17.0,19.0,21.0,22.0,12.0,18.0,11.0,17.0,18.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,4.0,2.0,3.0,2.0,1.0,3.0,3.0,3.0,1.0,3.0,...,3.0,6.0,1.0,5.0,5.0,2.0,1.0,7.0,4.0,1.0
4,582.0,374.0,471.0,516.0,462.0,447.0,593.0,477.0,362.0,426.0,...,368.0,425.0,497.0,645.0,578.0,321.0,358.0,391.0,403.0,541.0
5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0

In [0]:
pu_cc = subset_df_pu[subset_df_pu['payment_type']==2]

In [0]:
subset_df_do = df[['tpep_pickup_datetime','DOLocationID','payment_type']]

In [0]:
do_cc = subset_df_do[subset_df_do['payment_type']==2]

In [0]:
do_cc.shape

(4941485, 3)

In [0]:
pu_cc.head()

  tpep_pickup_datetime  PULocationID  payment_type     pu_date
0  2018-07-01 00:28:09           145             2  2018-07-01
1  2018-07-01 00:29:27           145             2  2018-07-01
4  2018-07-01 00:41:56           142             2  2018-07-01
7  2018-07-01 00:23:26            43             2  2018-07-01
8  2018-07-01 00:51:07           145             2  2018-07-01

In [0]:
pu_cc['tpep_pickup_datetime'] = pd.to_datetime(pu_cc['tpep_pickup_datetime'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
pu_cc['pu_date'] = pu_cc['tpep_pickup_datetime'].dt.date

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
pu_cc = pu_cc[pu_cc['tpep_pickup_datetime'].dt.year == 2018]

In [0]:
pu_cc = pu_cc[(pu_cc['tpep_pickup_datetime'].dt.month == 7) | (pu_cc['tpep_pickup_datetime'].dt.month == 8)]

In [0]:
pu_cc.shape

(4941217, 4)

In [0]:
daily_trips_cc = pu_cc[['pu_date','PULocationID','payment_type']].groupby(['pu_date','PULocationID']).count()

In [0]:
daily_trips_cc.reset_index(inplace=True)

In [0]:
daily_trips_cc.head()

      pu_date  PULocationID  payment_type
0  2018-07-01             1             1
1  2018-07-01             3             3
2  2018-07-01             4           202
3  2018-07-01             6             1
4  2018-07-01             7           432

In [0]:
cluster_base_cc_pu = pd.pivot_table(daily_trips_cc,index='PULocationID',values='payment_type',columns='pu_date')

In [0]:
cluster_base_cc_pu.fillna(0,inplace=True)

In [0]:
cc_percentage_pu_clustering = cluster_base_cc_pu / cluster_base_daily_trips_pu

In [0]:
cc_percentage_pu_clustering.fillna(0,inplace=True)

In [0]:
cc_percentage_pu_clustering.to_csv('po.csv')

**Lets do the same for drop off sites**

In [0]:
subset_df_do = df[['tpep_pickup_datetime','DOLocationID','payment_type']]

In [0]:
subset_df_do['tpep_pickup_datetime'] = pd.to_datetime(subset_df_do['tpep_pickup_datetime'])
subset_df_do = subset_df_do[subset_df_do['tpep_pickup_datetime'].dt.year == 2018]
subset_df_do = subset_df_do[(subset_df_do['tpep_pickup_datetime'].dt.month == 7) | (subset_df_do['tpep_pickup_datetime'].dt.month == 8)]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
do_cc = subset_df_do[subset_df_do['payment_type']==2]

In [0]:
do_cc['pu_date'] = do_cc['tpep_pickup_datetime'].dt.date

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [0]:
daily_trips_cc_do = do_cc[['pu_date','DOLocationID','payment_type']].groupby(['pu_date','DOLocationID']).count()

In [0]:
subset_df_do['pu_date'] = subset_df_do['tpep_pickup_datetime'].dt.date

In [0]:
daily_trips_do = subset_df_do[['pu_date','DOLocationID','payment_type']].groupby(['pu_date','DOLocationID']).count()

In [0]:
cluster_base_cc_do = pd.pivot_table(daily_trips_cc_do,index='DOLocationID',values='payment_type',columns='pu_date')

In [0]:
cluster_base_daily_do = pd.pivot_table(daily_trips_do ,index='DOLocationID',values='payment_type',columns='pu_date')

In [0]:
cluster_base_cc_do.head()

pu_date,2018-07-01,2018-07-02,2018-07-03,2018-07-04,2018-07-05,2018-07-06,2018-07-07,2018-07-08,2018-07-09,2018-07-10,...,2018-08-22,2018-08-23,2018-08-24,2018-08-25,2018-08-26,2018-08-27,2018-08-28,2018-08-29,2018-08-30,2018-08-31
DOLocationID,,,,,,,,,,,,,,,,,,,,,
1,144.0,120.0,101.0,94.0,90.0,103.0,99.0,127.0,91.0,69.0,...,84.0,83.0,84.0,83.0,120.0,124.0,94.0,100.0,88.0,97.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7.0,8.0,5.0,5.0,8.0,6.0,11.0,4.0,7.0,6.0,...,10.0,9.0,9.0,11.0,16.0,13.0,9.0,6.0,5.0,5.0
4,478.0,388.0,390.0,422.0,410.0,386.0,468.0,400.0,362.0,389.0,...,329.0,362.0,433.0,418.0,350.0,310.0,346.0,343.0,363.0,494.0
5,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN

In [0]:
cluster_base_cc_do.fillna(0,inplace=True)

In [0]:
cluster_base_daily_do.fillna(0,inplace=True)

In [0]:
cc_percentage_do_clustering = cluster_base_cc_do / cluster_base_daily_do

In [0]:
cc_percentage_do_clustering.fillna(0,inplace=True)

In [0]:
cc_percentage_do_clustering.to_csv('do.csv')

In [0]:
!zip clusters.zip po.csv do.csv

updating: do.csv (deflated 70%)
  adding: po.csv (deflated 71%)

In [0]:
from google.colab import files
files.download('clusters.zip')

# Clustering Monthly Credit Usage:

### Data Preprocessing Pipeline:

In [0]:
years = ['2018','2017']

In [0]:
monthly_pu_df = pd.DataFrame()
monthly_do_df = pd.DataFrame()

In [0]:
year = '2018'
months = ['0' + str(i) if i<10 else str(i) for i in range(1,13)]

In [0]:
months

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

In [0]:
for month in months:
  url = 'https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2018-'+ month +'.csv'
  df = pd.read_csv(url)
  df_subset = df[['PULocationID','tpep_pickup_datetime', 'payment_type','DOLocationID']]
  month 
  df_subset['tpep_pickup_datetime'] = pd.to_datetime(df_subset['tpep_pickup_datetime'])
  print(int(month))
  df_subset = df_subset[(df_subset['tpep_pickup_datetime'].dt.year == 2018) & (df_subset['tpep_pickup_datetime'].dt.month == int(month))]
  df_subset['month'] = df_subset['tpep_pickup_datetime'].dt.month

  df_cc = df_subset[df_subset['payment_type'] == 1]
  monthly_cc_rides_pu = df_cc[['month','PULocationID','payment_type']].groupby(['month','PULocationID']).count()
  monthly_cc_rides_do = df_cc[['month','DOLocationID','payment_type']].groupby(['month','DOLocationID']).count()


  #monthly credit card rides:
  monthly_rides_pu = df_subset[['month','PULocationID','payment_type']].groupby(['month','PULocationID']).count()
  monthly_rides_do = df_subset[['month','DOLocationID','payment_type']].groupby(['month','DOLocationID']).count()

  monthly_cc_rides_pu_percentage = monthly_cc_rides_pu / monthly_rides_pu
  monthly_cc_rides_do_percentage = monthly_cc_rides_do / monthly_rides_do
  monthly_cc_rides_pu_percentage.fillna(0,inplace=True)
  monthly_cc_rides_do_percentage.fillna(0,inplace=True)
  
  column_name = 'payment_' + year + '_' + month
  
  monthly_cc_rides_pu_percentage.reset_index(inplace=True)
  monthly_cc_rides_pu_percentage.drop(['month'],axis=1,inplace=True)
  monthly_cc_rides_pu_percentage.set_index('PULocationID',inplace=True)


  monthly_cc_rides_do_percentage.reset_index(inplace=True)
  monthly_cc_rides_do_percentage.drop(['month'],axis=1,inplace=True)
  monthly_cc_rides_do_percentage.set_index('DOLocationID',inplace=True)

  
  
  monthly_cc_rides_do_percentage.rename(columns= {'payment_type': column_name},inplace=True)
  monthly_cc_rides_pu_percentage.rename(columns= {'payment_type': column_name},inplace=True)
  
  monthly_cc_rides_do_percentage.fillna(0,inplace=True)
  monthly_cc_rides_pu_percentage.fillna(0,inplace=True)
  
  
  monthly_pu_df = pd.concat([monthly_pu_df,monthly_cc_rides_pu_percentage],axis=1)
  monthly_do_df = pd.concat([monthly_do_df,monthly_cc_rides_do_percentage],axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1
2
3
4
5
6
7
8
9
10
11
12